* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    background: black;
    overflow: auto;
}

/* HEADER */
#header-nav {
    background-color:tomato;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 { /*Business name */
    color: #fff;
    margin: 0;
    font-weight: bold;
    line-height: .35;
    font-size: 1.3em;
}

.navbar-brand h1 span {
    color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { /* Toggle Button */
    background: black;
}

#nav-list {
    margin-top: 10px;
}

.navbar-default .navbar-nav>li>a {/* Button content */
    color: #fff;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: black;
    cursor: pointer;
}

.nav>li>a {
    color: #951C49;
    text-align: center;
}
/* End of Header */

/* Content */
#pageHeading {
    color: #fff;
    font-style: italic;
    font-family: cursive;
}

.row section {
    background: tomato;
    color: #fff;
    border-radius: 5px;
    font-family: cursive;
}

section p {
    padding: 10px;
    width: 98%;
}

section h2 {
    margin: 5px 0 10px;
    text-align: center;
    font-weight: bold;
}

/********** Medium devices only **********/
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-4 {
      width: 32%;
    }
    .row {
        margin-left: -10%
        margin-right: -10%;
    }
    .row section {
        margin: 1% .8% 1% .5%;
    }
}
/* Small devices */


@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-6 {
        width: 49%;
    }
    .col-sm-12 {
      width: 99%;
    }
    .row section {
        margin: 1% .5% 1% .5%;
    }
}
/* Extra-small devices */
@media(max-width: 767px) {
    .col-xs-12 {
        width: 92%;
    }
    .row section {
        margin: 2% 4% 2% 4%;
    }
}

